node_modules
dist
.turbo
.env
.env.local
*firebase-adminsdk*.json
*.tsbuildinfo
packages/api/scripts/

# Playwright
/test-results
/playwright-report
/blob-report
/playwright/.cache
backups/

# Lighthouse reports written by scripts/check-lighthouse.mjs
lighthouse-*.json
